*
{
    margin: 0;
    padding: 0;
}
html, body
{
    background-color: azure;
    margin: 0;
    height: 100%;
}

        canvas {
          display: block;
          vertical-align: bottom;
        }

        /* ---- particles.js container ---- */

        #particles-js {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #b61924;
          background-image: url("");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 50% 50%;
        }

        .count-particles{
          background: #000022;
          position: absolute;
          top: 48px;
          left: 0;
          width: 80px;
          color: #13E8E9;
          font-size: .8em;
          text-align: left;
          text-indent: 4px;
          line-height: 14px;
          padding-bottom: 2px;
          font-family: Helvetica, Arial, sans-serif;
          font-weight: bold;
        }

        .js-count-particles{
          font-size: 1.1em;
        }

        #stats,
        .count-particles{
          -webkit-user-select: none;
        }

        #stats{
          border-radius: 3px 3px 0 0;
          overflow: hidden;
        }

        .count-particles{
          border-radius: 0 0 3px 3px;
        }

.nav .nav-bar{
    position: fixed;
    width: 100vw;
    height: 50px;
    background: linear-gradient(180deg,  #202020, transparent);
    z-index: 0;
}
.nav .nav-button
{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: brown;
    z-index: 1;
}
.nav .nav-button:before
{
    content: '';
    width: 40px;
    height: 6px;
    background-color: aliceblue;
    position: absolute;
    top: 6px;
    margin: 4px;
}
.nav .nav-button:after
{
    content: '';
    width: 40px;
    height: 6px;
    background-color: aliceblue;
    bottom: 6px;
    margin: 4px;
}
.nav .ell li a
{
    margin: 10px;
    text-decoration: none;
    font-size: 16px;
    color: #f00;
}
.nav .ell li
{
    margin: 20px;
    list-style: none;
}
.nav .ell
{
    position: fixed;
    top: 50px;
    overflow: hidden;
    width: 0;
    height: 100vh;
    background: #202020;
    transition: 0.2s;
}
.content
{
    width: cover;
    height: 500px;
    background: #f4ff54;
}
